* {box-sizing: border-box; }
#grid-container {background: rgb(0, 150, 208); display: grid; height: auto; grid-template-columns: 50px 50px 50px; grid-template-rows: 50px 50px 50px; }
#grid-container > div {background: rgb(241, 101, 41); border: 1px solid; margin: 0px; padding: 0px; }